* {
  margin: 0;
  padding: 0;
}

html {
  background: #222;
  color: #eee;
  font-family: sans-serif;
  padding: 0.5rem;
  overflow-x: hidden;
}

body {
  min-height: 100%;
  overflow-x: hidden;
}

::-moz-selection {
  background: #000;
  color: orange;
}

::selection {
  background: #000;
  color: orange;
}

#discription {
  margin-top: 0.3rem;
  margin-bottom: 0.3rem;
}
#discription p {
  padding: 1rem;
}

img {
  max-width: 100%;
  margin-top: 0.3rem;
  margin-bottom: 0;
}

a {
  position: relative;
  text-decoration: none;
  color: orange;
}

a::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  right: 0;
  height: 2px;
  background: orange;
  transition: transform 250ms;
  transform: scaleX(0);
  transform-origin: right;
}

a:hover::after, a:focus::after {
  transform: scaleX(1);
  transform-origin: left;
}

p {
  max-width: 65ch;
  line-height: 1.6em;
}

header {
  display: flex;
  line-height: 3rem;
}
header #bobert-loogoo img {
  max-height: clamp(30px, 4vw, 2rem);
}
header nav {
  display: flex;
  width: 100%;
  justify-content: center;
  gap: max(0.5rem, 3vw);
  text-transform: capitalize;
}
header nav a {
  font-size: clamp(1rem, 5vw, 1.3rem);
  color: #eee;
}

#title {
  color: orange;
}

.main-img {
  max-width: min(540px + 10vw, 100%);
}

footer {
  background: #333;
  margin: 0.4rem;
  padding-left: 2rem;
  line-height: 3rem;
}

#features {
  margin-top: 3rem;
  padding: 1rem;
}
#features div {
  position: relative;
  width: 100%;
}
#features div h4 {
  line-height: 0.5em;
}
#features div::after {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(51, 51, 51, 0.3333333333);
  box-shadow: 0 0 3px 1.35rem rgba(51, 51, 51, 0.3333333333);
  z-index: -1;
  transform: scaleX(0);
  transform-origin: right;
  transition: transform 320ms cubic-bezier(0.16, -0.2, 0.82, 1.14);
}
#features div.img-go-right::after {
  transform-origin: left;
}
#features div:hover::after {
  transform: scaleX(1);
  transform-origin: left;
}
#features div.img-go-right:hover::after {
  transform-origin: right;
}

@media (min-width: 669px) {
  .main-grid {
    display: grid;
    gap: 2em;
    position: relative;
  }

  header {
    display: grid;
    grid-template-columns: subgrid;
  }
  header nav {
    grid-column: 2/5;
  }
  header #bobert-loogoo {
    margin: 1rem;
    position: fixed;
    top: -0.1rem;
  }

  main {
    display: grid;
    grid-template-columns: subgrid;
    grid-auto-flow: dense;
    min-height: min(50vh, 500px);
  }

  #title {
    grid-column: 1/2;
    grid-row: 1;
    white-space: nowrap;
    padding: 2rem;
    text-shadow: 2px 2px 2px #000;
    min-height: min(6vw, 7rem);
  }
  #title h1 {
    font-size: min(6vw, 7rem);
    z-index: 10;
    position: fixed;
    transition: top 100ms ease, left 50ms ease, font-size 80ms ease;
  }

  #discription {
    grid-column: 1;
    grid-row: 2;
    padding-left: min(5.5rem, 2vw);
    display: flex;
    justify-content: center;
  }
  #discription p {
    padding: 2rem;
    text-shadow: 2px 2px 2px #000;
  }

  #discription::after {
    content: "{\\}";
    font-size: 40vw;
    position: absolute;
    opacity: 0.03;
    z-index: -100;
    line-height: 1;
    left: 0;
    top: 0;
  }

  #main-img {
    grid-column: 1/8;
    grid-row: 1/3;
    z-index: -1;
    background: url("../img/bobert.png") 90% 4rem/min(50vw, 600px) auto fixed no-repeat;
  }
  #main-img img {
    display: none;
    position: absolute;
    top: -Min(5rem, 5vw);
    bottom: -Min(5rem, 5vw);
    left: -Min(5rem, 5vw);
    right: -Min(5rem, 5vw);
  }

  #features {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    align-items: center;
    margin-top: 6rem;
    margin-bottom: 2rem;
  }
  #features div {
    display: grid;
    gap: 2rem;
    justify-content: center;
  }
  #features div img {
    grid-column: 1;
    height: 7rem;
  }
  #features div p {
    grid-column: 2;
    max-width: 45ch;
    text-shadow: 2px 2px 2px #000;
  }
  #features div.img-go-right img {
    grid-column: 2;
  }
  #features div.img-go-right p {
    grid-column: 1;
    grid-row: 1;
  }
}/*# sourceMappingURL=home.css.map */