*
    margin: 0
    padding: 0

#wraper
    display: flex
    height: calc(100vh - 1.5rem)

    #sidebar
        background: blue
        flex: .7

    #editor-pane
        position: relative
        flex: 15

        .editor
            height: 100%

    #output-pane
        background: pink
        flex: 10
    
#status-bar
    background: red
    line-height: 1.5rem
