* {
  margin: 0;
  padding: 0;
}

html, body {
  overflow: hidden;
  font-family: sans-serif;
}

::-moz-selection {
  background: #000;
  color: orange;
}

::selection {
  background: #000;
  color: orange;
}

#sidebar {
  max-width: min(15vw, 600px);
}
#sidebar .icons {
  position: relative;
  background: #333;
  width: clamp(2rem, 3vw, 100px);
  height: 100%;
  float: left;
}
#sidebar .bottom {
  position: absolute;
  bottom: 0;
}
#sidebar .sidebar-button {
  width: 100%;
  padding: 0.2rem;
  background: none;
  border: none;
}
#sidebar .sidebar-button img {
  max-width: 100%;
}
#sidebar .sidebar-button:hover {
  cursor: pointer;
  background: rgba(255, 255, 255, 0.0666666667);
}
#sidebar .content {
  background: #2a2a2a;
  height: 100%;
  margin-left: clamp(2rem, 3vw, 100px);
}
#sidebar .content > div {
  position: relative;
  width: 0;
  height: 0;
  transform: scaleX(0);
  transform-origin: left;
  transition: transform 250ms ease-in, width 250ms ease-in, height 250ms ease-in;
}
#sidebar .content > div.open {
  width: clamp(6rem, 10vw, 400px);
  transform: scaleX(1);
  height: auto;
}
#sidebar .content #tabs {
  display: flex;
  flex-direction: column;
}
#sidebar .content #tabs .tab {
  background: none;
  border: none;
  color: #fff;
  line-height: 1.6em;
  text-align: left;
  padding-left: 1rem;
}
#sidebar .content #tabs .tab:hover {
  cursor: pointer;
  background: rgba(255, 255, 255, 0.0666666667);
}
#sidebar .content #tabs .selected {
  color: blue;
}
#sidebar .content .add {
  position: absolute;
  top: 0;
  right: 0;
}
#sidebar .content .add button {
  background: none;
  border: none;
  color: #fff;
  line-height: 1.6em;
}
#sidebar .content .add button img {
  max-width: 1.3rem;
}
#sidebar .content .add button:hover {
  cursor: pointer;
  background: rgba(255, 255, 255, 0.0666666667);
}

#wraper {
  display: flex;
  height: calc(100vh - 1.3rem);
}
#wraper #editor-pane {
  flex: 6;
  height: 100%;
  background: #272822;
  position: relative;
}
#wraper #editor-pane #editor {
  position: absolute;
  top: 0px;
  bottom: 0px;
  left: 0px;
  right: 0px;
}
#wraper #editor-pane .editor {
  height: 100%;
}
#wraper #editor-pane .editor .scroll-wraper {
  position: relative;
}
#wraper #editor-pane .editor .editor-text {
  position: absolute;
  top: 0;
  color: rgba(255, 255, 255, 0);
  caret-color: white;
  min-width: 100%;
  z-index: 5;
}
#wraper #editor-pane .editor .editor-text:focus {
  outline: none;
}
#wraper #editor-pane .editor .editor-highlight {
  position: absolute;
  top: 0;
  background-color: rgb(39, 40, 34);
  z-index: 1;
}
#wraper #output-pane {
  flex: 5;
}
#wraper #output-pane #output {
  width: 100%;
  height: 100%;
}

#status-bar {
  position: relative;
  background: #151515;
  line-height: 1.3rem;
  font-size: 0.8rem;
}
#status-bar .right {
  position: absolute;
  right: 0;
}

#stop-button, #run-button, #save-button {
  border: none;
  border-radius: 0.2rem;
  padding: 0.05rem;
  margin: 0.05rem;
  margin-right: 0.1rem;
  cursor: pointer;
}

#stop-button, #run-button {
  background: rgba(0, 0, 0, 0.5333333333);
  color: orangered;
}

#save-button {
  background-color: orangered;
  color: #fff;
}

#save-button:hover {
  background-color: orange;
}

#model-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 10;
}

#model-background {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.5333333333);
}

#model {
  position: relative;
  display: flex;
  width: 50%;
  min-width: min(800px, 100%);
  height: 50%;
  min-height: min(800px, 100%);
  background: #333;
  border-radius: 0.3rem;
}
#model > .close-model {
  position: absolute;
  top: 0;
  right: 0;
  font-size: 1.4rem;
  padding: 0.1em;
  padding-left: 0.4em;
  padding-right: 0.4em;
  justify-content: center;
  background: #252525;
  cursor: pointer;
  border-bottom-left-radius: 0.3rem;
}
#model .sidebar {
  padding: 0.5rem;
  max-width: 5rem;
  text-align: center;
  word-wrap: break-word;
}
#model .sidebar button {
  width: 4rem;
  background-color: #2b2b2b;
  border: none;
  border-radius: 0.3rem;
  padding: 0.5rem;
  color: #ddd;
  text-decoration: none;
  cursor: pointer;
}
#model .sidebar button + button {
  margin-top: 0.3rem;
}
#model .sidebar img {
  max-width: 100%;
}
#model .content {
  width: 100%;
  padding: 1rem;
  padding-left: 0;
}/*# sourceMappingURL=style.css.map */